.AtmosphereSection {
  min-height: 40vh;
  position: relative;

  [data-name="Satelite"] {
    width: 20vmin;
    position: absolute;
    right: 15vw;
    top: 5vh;
  }

  [data-name="Rocket"] {
    width: 40vmin;
    position: absolute;
    left: 15vw;
    bottom: -5vh;
    transform: rotate(25deg);
  }
}
