.SpaceSection {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  // background: linear-gradient(#000120 45%, #024254);

  [data-name="neptune"] {
    bottom: -35vmin;
    left: -25vmin;
    opacity: 0.2;

    svg {
      height: 100vmin;
      width: 100vmin;
    }

    @media screen and(min-width: 920px) {
      left: -15vmin;
    }
  }

  [data-name="mars"] {
    right: -10vmin;
    bottom: 15vmin;
    left: auto;
    opacity: 0.8;
    transform: rotate(-45deg);

    @media screen and(min-width: 920px) {
      right: 2vmin;
      bottom: 2vmin;
    }
  }

  [data-name="uranus"] {
    right: -12vw;
    top: 20vh;
    left: auto;

    @media screen and(min-width: 920px) {
      top: -10vh;
      right: -6vw;
    }
  }

  [data-name="jupiter"] {
    left: 10vw;
    top: 20vh;
    opacity: 0.5;

    svg {
      transform: rotate(-40deg);
    }

    @media screen and(min-width: 920px) {
      left: 15vw;
      top: 10vh;
    }
  }

  [data-name="mercury"] {
    left: -5vw;
    top: -2vh;

    svg {
      transform: rotate(-45deg);
      transform-origin: 50% 50%;
    }

    @media screen and(min-width: 920px) {
      left: -5vw;
      bottom: -15vh;
    }
  }

  [data-name="saturn"] {
    left: 60vw;
    top: 1vh;
    transform: rotate(45deg);

    // @media screen and(min-width: 920px) {
    //   top: 2vh;
    //   left: 60vw;
    // }
  }

  [data-name="sun"] {
    bottom: 35vh;
    margin: 0 auto;
    right: 0;
    left: 0;
    // transform: rotate(90deg);

    @media screen and(min-width: 920px) {
      bottom: 25vh;
    }
  }

  > div,
  > svg {
    position: absolute;
    left: 0;

    .glow {
      opacity: 0;
      transform: matrix(0.88, 0, 0, 0.88, 17.8734, 18.1704);
    }
  }
}
